<br>
<h5 class="back-button" [routerLink]="'/moje-konto'">
    <span class="fa fa-arrow-circle-left fa-fw"></span>Powrót do twojego konta
</h5>
<h3 class="text-center">Twoje dane osobiste</h3>
<div class="grid">
    <div class="grid-area-center">
        <form [formGroup]="accountForm" (ngSubmit)="updateUser()" class="subgrid-col-2">

            <input type="hidden" formControlName="id">

            <label class="label-small" for="firstName">Imię: *</label>
            <input type="text" class="input-text-small" formControlName="firstName"
            [ngClass]="{ 'is-invalid': f.firstName.errors && (f.firstName.touched || submitted) }">
            <div class="text-danger" *ngIf="(f.firstName.touched || submitted) && f.firstName.errors?.required">
                Pole 'Imię' jest wymagane.
            </div>
            
            <label class="label-small" for="lastName">Nazwisko: *</label>
            <input type="text" class="input-text-small" formControlName="lastName"
            [ngClass]="{ 'is-invalid': f.lastName.errors && (f.lastName.touched || submitted) }">
            <div class="text-danger" *ngIf="(f.lastName.touched || submitted) && f.lastName.errors?.required">
                Pole 'Nazwisko' jest wymagane.
            </div>            
            
            <label class="label-small" for="companyName">Nazwa firmy: </label>
            <input type="text" class="input-text-small" formControlName="companyName">
            
            <label class="label-small" for="email">E-mail: *</label>
            <input type="email" class="input-text-small" formControlName="email"
            [ngClass]="{ 'is-invalid': f.email.errors && (f.email.touched || submitted) }">
            <div class="text-danger" *ngIf="f.email.errors && (f.email.touched || submitted) ">
                <div *ngIf="f.email.errors.required">Pole 'E-mail' jest wymagane.</div>
                <div *ngIf="f.email.errors.email">Niepoprawny format adresu e-mail</div>
            </div>
            
            <label class="label-small" for="confirmEmail">Powtórz e-mail: *</label>
            <input type="email" class="input-text-small" formControlName="confirmEmail"
            [ngClass]="{ 'is-invalid': f.confirmEmail.errors && (f.confirmEmail.touched || submitted || accountForm.hasError('mismatchEmail')) }">
            <div class="text-danger" *ngIf="f.confirmEmail.errors && (f.confirmEmail.touched || submitted) ">
                <div *ngIf="f.confirmEmail.errors.required">Pole 'Powtórz e-mail' jest wymagane.</div>
                <div *ngIf="f.confirmEmail.errors.email">Niepoprawny format adresu e-mail</div>
                <div *ngIf="accountForm.hasError('mismatchEmail')">Adresy e-mail nie są takie same.</div>
            </div>
            
            <div class="full-row">
                <hr>
            </div>

            <label class="label-small" for="password">Nowe hasło: </label>
            <input type="password" class="input-text-small" formControlName="newPassword"
            [ngClass]="{ 'is-invalid': f.newPassword.errors && (f.newPassword.touched || submitted) }">
            <div class="text-danger" *ngIf="(f.newPassword.touched || submitted) && f.newPassword.errors?.minlength">
                Hasło musi mieć co najmniej 4 znaki.
            </div>
                        
            <label class="label-small" for="confirmPassword">Powtórz hasło: </label>
            <input type="password" class="input-text-small" formControlName="confirmPassword">
            <div class="text-danger" *ngIf="(f.confirmPassword.touched || submitted)">
                <div *ngIf="accountForm.hasError('mismatchPassword')">Hasła nie są takie same.</div>
            </div>

            <div class="right-side">
                <p class="text-gray">Pozostaw pole puste, aby pozostawić dotychczasowe hasło.</p>
            </div>

            <div class="full-row">
                <hr>
            </div>

            <label class="label-small" for="currentPassword">Aktualne hasło: *</label>
            <input type="password" class="input-text-small" formControlName="currentPassword"
            [ngClass]="{ 'is-invalid': f.currentPassword.errors && (f.currentPassword.touched || submitted) }">
            <div class="text-danger" *ngIf="(f.currentPassword.touched || submitted) && f.currentPassword.errors?.required">
                <div>Pole 'Aktualne hasło' jest wymagane.</div>
            </div>

            <div class="right-side">
                <p class="text-gray">Wprowadź aktualne hasło aby autoryzować zmiany.</p>
                <p class="text-danger">Pola oznaczone (*) są wymagane.</p>
            </div>

            <div class="full-row">
                <hr>
            </div>
            
            <input type="submit" class="btn-submit" value="Zapisz"/>
        </form>  
    </div>
  </div>