<div class="wrapper-slider">
    <div class="slider slide-fade">
        <div class="slides slide-fade">
            <a [routerLink]="['/sklep', 'zestawy', 'startowe', 'zestaw-yerba-mate-amanda-roja']">
                <img id="first-slide-home" src="assets/images/common/slider1.jpg" />
            </a>
        </div>
    </div>
    <div class="top-image">
        <img src="assets/images/common/top-image.jpg" />
    </div>
    <div class="bottom-image">
        <img src="assets/images/common/bottom-image.jpg" />
    </div>
</div>