.not-found-container {
  text-align: center;
  margin-top: 100px;
  
  :is(h1) {
    font-size: 3rem;
    color: #c00;
  }
  
  :is(a) {
    display: inline-block;
    margin-top: 20px;
    text-decoration: underline;
  }
}
